.formContainer{
  text-align: center;
  min-height: 40vh;
  width: 100vw;
  border-bottom: 1px solid gray;
}
.resultsContainer{
  min-height: 40vh;
  width: 50vw;
  border-bottom: 1px solid gray;
  margin: 0 auto;
}

.btn {
  margin-top: 15px;
  background: #2d90d6;
  color: white;
}
.btn span {
  padding-left: 10px;
}

img {
  width: 100px;
  height: 100px;
}

.blueYear {
  color: blue;
}
